##=====================================================================
## VERSIONS
##=====================================================================
POSTGRES_VERSION=17.0
PGADMIN_VERSION=9.3
CONFLUENT_VERSION=7.7.7
DEBEZIUM_VERSION=3.1.2
KF_UI_VERSION=v1.4.2
TERRAFORM_VERSION=1.14

##=====================================================================
## INFRASTRUCTURE
##=====================================================================
# ── PostgreSQL ────────────────────────────────────────────────────────
PG_HOST=localhost
PG_PORT=5432
PG_USER=user
PG_PASSWORD=pass
PG_DB=postgres

# ── pgAdmin ───────────────────────────────────────────────────────────
PGADMIN_PORT_HOST=8000
PGADMIN_DEFAULT_EMAIL=admin@orderflow.com
PGADMIN_DEFAULT_PASSWORD=SuperStrongPassword123

# ── Kafka ─────────────────────────────────────────────────────────────
KF_HOST=localhost
KF_PORT=9092
KF_CLUSTER_ID=6ST678BTRmS_09W_Y39KAb
KF_CONTROLLER_PORT=29093
KF_INTERNAL_PORT=9090
KF_REPLICATION_FACTOR=1
KF_BOOTSTRAP_SERVERS=localhost:9092
KF_UI_PORT=8800

# ── Schema Registry ───────────────────────────────────────────────────
SC_REGISTRY_HOST=localhost
SC_REGISTRY_PORT=8181
SC_REGISTRY_URL=http://localhost:8181

# ── Kafka Connect ─────────────────────────────────────────────────────
KF_CONNECT_PORT=8183
KF_CONNECT_URL=http://localhost:8183

##=====================================================================
## SECURITY (SHARED)
##=====================================================================
HMAC_SECRET_KEY=your_base64_secret_key_at_least_32_bytes_long

##=====================================================================
## INVENTORY SERVICE
##=====================================================================
INVENTORY_SERVICE_PORT=8082
INVENTORY_SERVICE_GRPC_PORT=9082
INVENTORY_DB=inventory_db

##=====================================================================
## ORDER SERVICE
##=====================================================================
ORDER_SERVICE_PORT=8084
ORDER_DB=order_db
KF_ORDER_CONSUMER_GROUP_ID=order-service-group

##=====================================================================
## PAYMENT SERVICE
##=====================================================================
PAYMENT_SERVICE_PORT=8086
PAYMENT_DB=payment_db
KF_PAYMENT_CONSUMER_GROUP_ID=payment-service-group